{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" href="assets/css/styles.min.css">
    {% endblock %}

{% block body %}
    <body class="align-middle">
    <div class="card shadow" data-aos="fade-up" data-aos-duration="300" data-aos-delay="100"
         style="height: 508.25px;width: 700px;margin-left: 350px;margin-top: 80px;">
        <div class="card-body text-capitalize col-lg-10 m-5">
            <form>
                {{ form_start(form,{attr:{'class':'user'}}) }}
                <h1 class="text-center">{{ titulo }}</h1>
                <div class="text-start row justify-content-center">
                    <div class="col-lg-5 m-2"><label class="form-label text-center">Nombre</label>
                        {{ form_widget(form.Nombre,{attr:{'placeholder':'Nombre','type':'text','class':'form-control form-control-user form-style','required':''}}) }}
                        <input
                                class="form-control" type="text" style="position: static;" required=""
                                placeholder="Nombre"></div>
                    <div class="col-lg-5 m-2"><label class="form-label text-start">Label</label><input
                                class="form-control col-lg-6" type="text" placeholder="Apellido" required=""></div>
                    <div class="col-lg-10 m-2"><label class="form-label">Label</label><input class="form-control"
                                                                                             type="email"
                                                                                             placeholder="ejemplo@gmail.com"
                                                                                             required=""></div>
                    <div class="col-lg-5 m-2"><label class="form-label">Label</label><input class="form-control"
                                                                                            type="text" required="">
                    </div>
                    <div class="col-lg-5 m-2"><label class="form-label">Label</label><input class="form-control"
                                                                                            type="password" required=""
                                                                                            minlength="6"
                                                                                            maxlength="20"></div>
                </div>
                {{ form_widget(form.submit,{attr:{'class':'btn btn-primary btn-user btn-block'}}) }}
                {{ form_end(form) }}
            </form>
            <button class="btn btn-primary" type="sumbit">Button</button>
        </div>
    </div>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/script.min.js') }}"></script>
{% endblock %}