{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <aside class="col-sm-4" style="position: relative; left: 300px"><img src="{{ asset('img/logouci.png') }}" alt="Imagen no encontrada"></aside>
    <div class="container col-lg-5 col-sm-7">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"></div>
                    <div class="p-5">
                        <main class="form-signin w-100 m-auto">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <h1 class="h3 mb-3 fw-normal" style="text-align: center">Inicio de Sesion</h1>

                                <div class="form-floating">
                                    <input type="email" value="{{ last_username }}" name="email" class="form-control"
                                           id="inputEmail" placeholder="name@example.com" autocomplete="username"
                                           required
                                           autofocus>
                                    <label for="inputEmail">Email</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="inputPassword"
                                           placeholder="Password"
                                           autocomplete="current-password" required>
                                    <label for="inputPassword">Password</label>
                                </div>

                                <div class="checkbox mb-3">
                                    <label class="ms-5 ps-5">
                                        <input type="checkbox" name="_remember_me"> Remember me</a>
                                    </label>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesion</button>
                                <a class="ms-5 ps-5" href="{{ path('crear_usuario') }}">Desea registrarse?</a>
                                <p class="mt-5 mb-3 text-muted" style="text-align: center">&copy; 2017–2022</p>
                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
