{% extends 'base.html.twig' %}
{% block title %}Publicar Investigacion!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('sb-admin/css/sb-admin-2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/principal/crearusuario.css') }}">
{% endblock %}
{% block body %}
    <body >
    <div class="container col-lg-8">
        <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: #2a2b38">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"></div>
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray mb-4">Publicar Investigacion!</h1>
                            </div>
                            {{ form_start(form,{attr:{'class':'user'}}) }}
                            <div class="form-group row">
                                <div class="form-group"><label class="form-label">Titulo</label>
                                    {{ form_widget(form.Titulo,{attr:{'placeholder':'Titulo de la Investigacion','type':'email','class':'form-control form-control-user form-style'}}) }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><label class="form-label">Facultad</label>
                                        {{ form_widget(form.Facultad,{attr:{'class':' btn btn-block btn-user border'}}) }}
                                    </div>
                                    <div class="col-sm-6"><label class="form-label">Catedra a presentar</label>
                                        {{ form_widget(form.Catedra,{attr:{'class':' btn btn-block btn-user border'}}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group">
                                        <label class="form-label">Descripcion</label>
                                        {{ form_widget(form.descripcion,{attr:{'placeholder':'Resumen de la Investigacion','type':'email','class':'form-control form-control-user form-style'}}) }}
                                    </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0"><label class="form-label">Archivo de la Investigacion</label>
                                        {{ form_widget(form.archivo,{attr:{'class':' btn btn-block btn-user border'}}) }}
                                    </div>
                                </div>

                                {{ form_widget(form.Aceptar,{attr:{'class':'btn btn-primary btn-user btn-block'}}) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}