{% extends 'base.html.twig' %}

  {% block title %}Detalles de la investigacion "{{ investigacion.Titulo| capitalize }}"{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('sb-admin/css/sb-admin-2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/principal/invento.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('css/principal/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidebars.css') }}">
        <link rel="stylesheet" href="{{ asset('css/personal.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Ejemplo.css') }}">
    {% endblock %}
{% block body %}
    {% block navegacion %}
        {{ parent() }}
    {% endblock %}
    <div class="main-wrapper">
        <div class="card-container">
            {% for i,evento in eventos %}
                <div class="card-wrapper">
                <div class="card">
                    <div class="card-profile-img-holder">
                        <img class="card-profile-img" src="{{ asset('img/logouci.png') }}">
                    </div>
                    <div class="card-banner">
                        <img class="card-banner-img" style="width: 100%" src="{{ asset('img/images (6).jfif') }}">
                    </div>
                    <div class="card-info">
                        <div class="row">
                            <div class="col-12 open-spot-holder">
                                <span class="open-spot-count">{{ pila[i][1] }}</span>
                                <span class="open-spot">Participantes</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 event-title-holder">
                                <h3>{{ evento.Nombre | capitalize}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 ">
                                <p>Tematica: {{ evento.Tematica }}</p>
                                <a href="#">Actividades del Evento:{{ pilaC[i][1] }}</a>
                                <a href="#">Investigaciones Presentadas:{{ pilaI[i][1] }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 event-details-holder">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="far fa-clock" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10">
                                        <p> {{ evento.horainic|format_time() }}- {{ evento.horafin|format_time() }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <i class="far fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10">
                                        <p>{{ evento.fechaini|format_date() }} - {{ evento.fechafin|format_date() }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="col-10">
                                        <p>Universidad de Ciencias Informáticas</p>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-lg-10 mt-2">
                                    <button onclick="eliminarEvento({{ evento.id }})" type="button" class="btn btn-sm btn-danger btn-outline-secondary"><a class="text-white"> <span class="icon text-white">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                            <span class="text">Eliminar</span></a></button>
                                    <button type="button" class="btn btn-sm btn-info btn-outline-secondary"><a class="text-white" href="{{ path('edit_evento',{id:evento.id}) }}"><span class="icon text-white">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                            <span class="text">Editar</span></a></button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="event-footer-holder">
                            <div class="ribbon full">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(eventos ) }}
    </div>
    {% block Modal %}
        {{ parent() }}
    {% endblock %}
    {% block footer %}
        {{ parent() }}
        <script src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/scriptusuario.js') }}"></script>
        <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
        <script src="{{ asset('js/all.js') }}"></script>
        <script src="{{ asset('js/fontawesome.js') }}"></script>
        <script src="{{ asset('js/sidebars.js') }}"></script>
        <script src="{{ asset('js/dropdown.js') }}"></script>
        <script src="{{ asset('js/scriptusuario.js') }}"></script>
    {% endblock %}
{% endblock %}