{% extends 'base.html.twig' %}

{% block title %}Tablas investigaciones{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap5.min.css') }}">
{% endblock %}
{% block body %}
    <body id="page-top">
    <div id="wrapper">
        {% block navegacion %}
            {{ parent() }}
        {% endblock %}
        <div class="container-fluid mt-5 pt-4">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Eventos</h1>
            <p class="mb-4">La siguiente tabla muestra todos los eventos realizados hasta la fecha</p>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Eventos Publicados</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Tematica</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de Cierre</th>
                                <th>Eliminar</th>
                                <th>Editar</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Tematica</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de Cierre</th>
                                <th>Eliminar</th>
                                <th>Editar</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for eve in eventos %}
                                <tr>
                                    <td>{{ eve.id }}</td>
                                    <td><a href="{{ path('eventoId',{ id:eve.id }) }}">{{ eve.Nombre }}</a></td>
                                    <td>{{ eve.Tematica }}</td>
                                        <td>{{ eve.fechaini| format_date() }} {{ eve.horainic| format_time() }}</td>
                                    <td>{{ eve.fechafin| format_date() }} {{ eve.horafin| format_time() }}</td>
                                    <td><a onclick="eliminarEvento({{ eve.id }})" class=" btn btn-danger "><i
                                                    class="fas fa-trash"></i></a></td>
                                    <td><a href="{{ path('edit_evento',{id:eve.id}) }}" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                            <span class="text">Editar</span>
                                        </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    {% block Modal %}
        {{ parent() }}
    {% endblock %}

    </body>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/datatables.min.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <!-- Page level plugins -->
        <script src="{{ asset('js/dataTables.bootstrap5.min.js') }}"></script>
    {% endblock %}
{% endblock %}
